<%= render 'articles/errors' %>

<%= form_with(model: @article, local: true, class: 'shadow p-3 mb-3 bg-info rounded') do |f| %>
  <div class="form-group row">
    <%= f.label :title, class: 'col-2 col-form-label' %>
    <div class="col-10">
      <%= f.text_field :title, class: 'form-control', placeholder: 'Write a cool title' %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :description, class: 'col-2 col-form-label' %>
    <div class="col-10 rows-10">
      <%= f.text_area :description, rows: 10, class: 'form-control', placeholder: 'Set free those ideas' %>
    </div>
  </div>

  <div class="form-group row col-10 justify-content-center">
    <%= f.submit value: 'Save', class: 'btn btn-success btn-lg' %>
  </div>
<% end %>
