<h2 class="card-title text-center"><%= @article.title %></h2>
<div class="card text-center shadow mb-5 bg-white rounded">
  <div class="card-header font-italic">
    by <%= link_to @article.user.username, @article.user %>
    <p class="text-center mt-4">
      <%= link_to gravatar_for(@article.user), @article.user %>
    </p>
    <%= render 'categories/small', categories: @article.categories %>
  </div>
  <div class="card-body text-left">
    <p class="card-text"><%= simple_format(@article.description) %></p>
    <div class="btn-group" role="group">
      <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-outline-info' if logged_in? && current_user == @article.user %>
      <%= link_to "Go Back", articles_path, class: 'btn btn-outline-info' %>
      <%= link_to "Delete", article_path(@article), class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Are you sure?' } if logged_in? && current_user == @article.user %>
    </div>
  </div>
  <div class="card-footer text-muted">
    Last Updated <%= @article.updated_at %>,
    Created at <%= @article.created_at %>
  </div>
</div>
