<h1 class="text-center mt-4"> The Sages </h1>

<%= render 'common/paginator', list: @users %>

<% @users.each do |user| %>
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
          <%= link_to user.username, user %>
        </div>
        <div class="card-body">
          <p class="card-text"><%= link_to gravatar_for(user, size: 80), user %></p>
          <p class="card-text"><%= pluralize(user.articles.count, 'article') %></p>
          <div class="btn-group" role="group">
            <%= link_to "View Profile", user_path(user), class: 'btn btn-success' %>
          </div>
        </div>
        <div class="card-footer text-muted">
          Joined at <%= user.created_at %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render 'common/paginator', list: @users %>
